name: Run actions

# Prevent two instances of this workflow running at the same time
concurrency: run-graa

on:
  push:
    branches:
      - main
  schedule:
    - cron: '42 * * * *'
  workflow_dispatch:

jobs:
  graa:
    name: Run on all enabled repos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build
      - run: npm start
        env:
          GRAA_TOKEN: ${{ secrets.GRAA_TOKEN }}
